<section id="showcase">
	<div class="container">
    	<p class="eyebrow">The <img class="icaruslogo" src="./assets/img/icarus_black_mark.svg" height="16px" alt=""/> Mission</p>
    	<h1 class="mission">Organize humankind’s great stories to spread inspiration, joy and wisdom worldwide.</h1>
	</div>
</section>

<section id="rocketimg">
	<div class="container">
    	<img src="./assets/img/Rocketkid_Composite.jpg" class="img-fluid rocketimg" alt="Placeholder image">
	</div>
</section>

<section id="textone">
	<div class="container">
		<h1 class="subheads">We’re building a universally accessible platform of short stories to provide both young and old with adventure, escape, confidence, inspiration, strength, wonder, wisdom, happiness and much more.</h1>
	</div>
</section>
	
<section id="texttwo">
	<div class="container">
		<h1 class="lettertitle">2019 LETTER</h1>
		<p class="letter">In the Walt Disney Family Museum hangs an award that reads, “to Walt Disney, in appreciation of your 25 years of making all the world glow with heart warming joy.” What could be better? To be in the business of making people happy.<br><br>
      This is why Icarus exists - to bring joy through innovation and imagination.<br><br>
      We liked the name Icarus for the endeavor. Society has interpreted the legend of the first humans to fly to be about hubris and over ambition.<br><br>
      We see it differently.<br><br>
      Instead, the famed story is about the joy of innovation - doing things that are audacious, risky and creative. Because when people try to fly higher, despite the risks and inevitable failures, wonderful things happen.<br><br>
      Thor Ronér<br>
		<img src="./assets/img/ThorSignature.jpg" width="100"> </p>
	</div>
</section>