<div *ngIf="storyDetail != undefined" class="detailpage">
  <!-- Poster and audio controls -->
  <div class="row audio controls">
    <div class="col-sm-10 col-md-8">
      <!-- <img [src]="storyDetail.Story[0].posterImage || ''" class="rounded img-fluid" height="300" alt="Placeholder image"> onClick="stopOtherAudio()" -->
      <div class="audioplayer" >
        <iframe id="playerAudio" scrolling="no" style="overflow:hidden;width: 100%;height: 300px;border:none;top: 0;position: relative;left: 0;" scrolling="no" [src]="urlval" ></iframe>
        <!-- postershow -->        
      </div>
    </div>
  </div>

  <div class="col-md-6 story details">
    <!-- Story transcript -->        
    <div class="story transcript">
      <br/>
      <p class="smallbuttontext"><img src="assets/img/icon_transcriptbuttontext.svg" width="80" (click)="toggle()"></p> 
      
      <!-- embed code
      <embed src="http://fable.mobilytedev.com/upload/storyVideos/5c2fa9b9d212973cfee4c0ee/dummy.srt" />
      <br>
      object code
      <object data="http://fable.mobilytedev.com/upload/storyVideos/5c2fa9b9d212973cfee4c0ee/dummy.srt" type="text/plain"
width="500" style="height: 300px">
<a href="http://fable.mobilytedev.com/upload/storyVideos/5c2fa9b9d212973cfee4c0ee/dummy.srt">file not Supported?</a>
</object> -->

      <div class="transcript text-left" id="collapseExample" *ngIf="isOpen" [@openClose]="isOpen ? 'open' : 'closed'">
        <div class="card">
            <div class="card-body">
                <div class="transcript" [innerHTML]="transform(storyDetail.Story[0].transcriptText)">
                  <!-- {{storyDetail.Story[0].transcriptText}} -->
                  <!-- <span *ngIf="storyDetail.Story[0].description != undefined">Description Not Available</span> -->
                </div>
            </div>
          </div>
      </div>
    </div>
      
    <!-- Story Overview  -->
    <div>
      <h3 class="storySponsor"><img class="sponsorlogo" [src]="storyDetail.Story[0].sponsorImage || ''" width="63" height="20" alt=""/>&ensp;Presents  </h3>
      <h1 class="storyHeadline">{{storyDetail.Story[0].name}}</h1>
          
      <p class="storyAbout">
        <!-- {{storyDetail.Story[0].description}} -->
        {{storyDetail.Story[0].overview}}
      </p>
    </div>
  </div>
  
    
  <div class="support container-fluid">	
  <!-- Image grid - if available -->
    <div class="row">
      <div class="col-xl-12 text-center">
      <div class="storymedia" *ngFor="let video of storyDetail.Story[0].videos">
        <div *ngIf="checkVideoUrl(video.url); else elseBlock">
            <iframe width="100%" height="345" src={{video.url}}>
            </iframe>
        </div>
        <ng-template #elseBlock>
            <video width="100%" controls>
              <source src={{video.url}} type="video/ogg">
              <source src={{video.url}} type="video/mp4">
                <track label="English" kind="subtitles" srclang="en" *ngIf="video.transcript" [src]="video.transcript" default> 
              Your browser does not support HTML5 video.
            </video>
        </ng-template>
      </div>
      <div class="storymedia" *ngFor="let image of storyDetail.Story[0].image">
        <img [src]="image || ''" class="img-fluid" alt="image">
      </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 story details">
    <!-- Story specs -->
    <div class="row story specs">
      <div class="story specs">           
        <div class="rating">
            <img src="assets/img/rating_r_black.svg" style="max-height: 14px;width: auto;" *ngIf="storyDetail.Story[0].ratings == 'RESTRICTED'">
            <img src="assets/img/rating_g_black.svg" style="max-height: 14px;width: auto;" *ngIf="storyDetail.Story[0].ratings == 'GENERAL AUDIENCES'">
            <img src="assets/img/rating_pg_black.svg" style="max-height: 14px;width: auto;" *ngIf="storyDetail.Story[0].ratings == 'PARENTAL GUIDANCE'">
          <!-- <img src="assets/img/rating_pg_black.svg" width="125px" alt=""/> -->
        </div>
        <h1 class="storyData"><i class="fas fa-sliders-h"></i>&nbsp; GENRE 
          <span class="storyData results" *ngFor="let g of storyDetail.Story[0].genresId">{{g.name}}, </span></h1>
        <h1 class="storyData"><i class="far fa-clock"></i>&nbsp; RUN TIME <span class="storyData results">{{storyDetail.Story[0].audioLength}}</span></h1>
        <h1 class="storyData"><i class="far fa-calendar"></i>&nbsp; RELEASED <span class="storyData results">2018</span></h1>
        <h1 class="storyData"><i class="fas fa-globe"></i>&nbsp; LANGUAGE <span class="storyData results">ENGLISH</span></h1>
        <br>
        <h1 class="storyData" *ngFor="let credits of storyDetail.Story[0].credits">{{credits.role}} <span class="storyData results">{{credits.name}}</span></h1>
      </div>       
    </div>

    <!-- Related Tags -->        
    <div class="story tags">
      <a class="story related tags" *ngFor="let credits of storyDetail.Story[0].tags"  (click)="commonServ.addtag(credits)">{{credits}}</a>
    </div>        
  </div>
</div>    
<!-- Related Stories -->
<!-- <div class="container-fluid px-sm-2">
    <div class="row mx-sm-n2" *ngIf="storyList != undefined">
        <div class="col-sm-6 px-sm-2" *ngFor="let item of storyList.AllStory; let i = index" [ngClass]="i > 3 ? 'd-none':''">
            <app-story-poster-item [data]="item" ></app-story-poster-item>
        </div>
    </div>
</div> -->

<div class="container-fluid px-sm-2">
  <div class="row mx-sm-n2" *ngIf="commonServ.RelatedStoryList != undefined">  
    <div class="col-sm-6 px-sm-2" *ngFor="let item of commonServ.RelatedStoryList.data; let i = index" [ngClass]="i > 3 ? 'd-none':''">
      <!-- <app-story-poster-item [data]="item" ></app-story-poster-item> -->
      <div class="story-promoposter" [ngStyle]="{'background-image': 'url('+item.playerImage+')'}" >
          <a routerLink="/detail/{{item._id}}" class="postelink"></a>
          <div class="storyinformationholder" [ngClass]="!item.themeColor|| show === item._id ? '':'light'">
            <div class="quickplay" (click)="showPlayer(item._id); changeColor(false)"><img src="assets/img/icon_quickplay.svg" height="20px" alt=""/></div>
            <h1 class="promoheadline">
                <a routerLink="/detail/{{item._id}}" >{{item.name}}</a></h1>
            <p class="promosubhead"><a routerLink="/detail/{{item._id}}" >{{item.description}}</a></p>
            <p class="promospecs">
                <img [src]="!item.themeColor || show === item._id ? 'assets/img/rating_r_black_icon.svg':'assets/img/rating_r_white_icon.svg'" height="12px" *ngIf="item.ratings == 'RESTRICTED'">
                <img [src]="!item.themeColor || show === item._id ? 'assets/img/rating_g_black_icon.svg': 'assets/img/rating_r_white_icon.svg'" height="12px" *ngIf="item.ratings == 'GENERAL AUDIENCES'">
                <img [src]="!item.themeColor || show === item._id ? 'assets/img/rating_pg_black_icon.svg':'assets/img/rating_pg_white_icon.svg'" height="12px" *ngIf="item.ratings == 'PARENTAL GUIDANCE'">
              &nbsp;&nbsp;&nbsp;&nbsp;<em class="far fa-clock"></em> {{item.audioLength}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{addspace(item.genresId)}}</p>
          </div>        
          <app-player [data]="item" *ngIf="show === item._id" class="CallPlayer"></app-player>
          <button type="button" *ngIf="show === item._id" class="close closeplayer" (click)="hidePlayer();  changeColor(true)" >
              <span aria-hidden="true">&times;</span>
          </button> 
        </div>
    </div>
  </div>
</div>