/*.loginpage{position: absolute; width:100%; max-width:400px; top:50%; left:50%; transform: translate(-50%, -50%);   padding: 20px}*/


                                                                                                                                                .is-auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-image: url("//asset-cdn/img/bg.jpg");*/
 background-image: url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

  .is-auth:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

.is-auth form {
  position: relative;
  width: 320px;
  min-height: 100px;
  background-color: #fff;
  z-index: 3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  animation: formZoomOut 1s;
}

.form-heading {
  padding: 10px 15px;
  background-color: #46c2e9;
  text-align: center;
}

.form-heading  h1 {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
  color: #fff;
}

.form-body {
  padding: 15px;
}

.form-control-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}
